<!-- In action we tell where to submit this form. -->
<!-- Http request, client to server, broswer uses GET method of http by default. -->
<!-- when to submit form, the data is to be posted to server side, so POST method of http is used. -->

<form method="post" action="/Store/Register"> 
	username : <input type="text" name="un" />
	password : <input type="text" name="pswd" />
	<input type="submit" value="Register" />
</form>